header{
    background-color: blue;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

input {
    border-color: blue;
}

button {
    background-color: blue;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

